* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fafafa;
  min-height: 100vh;
}

.app__header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1.5rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.app__headerImage {
  height: 3rem;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__signup .MuiInput-root {
  margin-bottom: 1rem !important;
}

.app__posts {
  padding: 20px;
}
.app__imgUpload {
  width: 60%;
  margin: 0 auto;
}
